@font-face {
  font-family: "Work sans";
  src: url("/fonts/WorkSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Work sans";
  src: url("/fonts/WorkSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Work sans";
  src: url("/fonts/WorkSans-Medium.ttf");
  font-weight: 500;
}
