:root {
  /* Primary colors */
  --primary-blue: #1a7de8;
  --primary-black: #0e0f11;
  --primary-white: #fdfdfd;

  /* Grey */
  --grey-primary: #323334;
  --grey-medium: #b8b9ba;
  --grey-lighter: #dfe0e1;

  /* Secondary colors */
  --secondary-green: #d1f452;
  --secondary-grey: #e7dbd9;

  /* State colors */
  --success-green: #d3f2df;
  --warning-orange: #f4e38e;
  --error-red: #f4724a;

  /* Other colors */
  --transparent: transparent;
}

@font-face {
  font-family: "Work sans";
  src: url("./assets/fonts/WorkSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Work sans";
  src: url("./assets/fonts/WorkSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Work sans";
  src: url("./assets/fonts/WorkSans-Medium.ttf");
  font-weight: 500;
}


* {
  font-family: "Work sans" !important;
}
